<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="../images/GojoDev.png">
</head>

<body>
    <section id="welcome" class="section-borders">
        <a href="index">
            <img src="../images/GojoDev.png" id="banner-logo">
        </a>
        <h1 id="workshop"> Coding Lessons Workshop</h1>
        <nav>
            <a href="index"> Home </a>
            <a href="booking"> Bookings </a>
            <a href="viewBookings"> View Bookings </a>
            <a href="about" id="selected"> About </a>
            <a href="help"> Help </a>
        </nav>
    </section>

    <br>


    <div id="about_desc" class="bubble">
        <h3>
            Hey, I create helpful websites and programming scripts. My latest online creation is <a
                href="https://caopoints.com/" target="_blank"> <strong id="caopoints_text">
                    caopoints.com
                </strong> </a> (for
            leaving cert students). I strive to help as many people as I can while making some bread in the process.
        </h3>
    </div>


    <footer>
        <br>
        <a href="https://ko-fi.com/gojodev" target="_blank">
            <img src="../images/kofi.webp" class="bottom-images" alt="Support Me On Ko-Fi">
        </a>

        <a href="https://github.com/gojodev" target="_blank">
            <img src="../images/GitHub.webp" class="bottom-images" alt="GitHub">
        </a>

        <a href="https://www.linkedin.com/in/emmanuelk421" target="_blank">
            <img src="../images/LinkedIn.webp" class="bottom-images" alt="LinkedIn">
        </a>
    </footer>

</body>

</html>