<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="../images/Nexus_Logo.webp">
</head>

<body>
    <section id="welcome" class="section-borders">
        <a href="index.html">
            <img src="../images/Nexus_Logo.webp" id="banner-logo">
        </a>
        <h1 id="workshop"> Coding Lessons Workshop</h1>
        <nav>
            <a href="index.html"> Home </a>
            <a href="booking.html" id="selected"> Bookings </a>
            <a href="viewBookings.html"> View Bookings </a>
            <a href="about.html"> About </a>
            <a href="help.html"> Help </a>
        </nav>
    </section>

    <br>
    <div id="notice" class="default">
        Please reserve your bookings at least 1 day in advance.
    </div>

    <!-- put all the bookings info onto one page to keep things simple -->
    <section id="booking_container">
        <section id="create_section">
            <h1 class="booking_title">Create</h1>
            <div class="booking_content" id="create_container">
                <div>
                    <label> Name </label>
                    <input placeholder="firstName lastName" type="text" id="name"><br>

                    <label> Email Address </label>
                    <input placeholder="example@gmail.com" type="text" id="email"><br>

                    <label> Card Number </label>
                    <input placeholder="0000 0000 0000 0000" maxlength="19" type="text" id="card_number"><br>

                    <label> Expiry Date </label>
                    <input placeholder="MM/YY" type="tel" id="expiry_date" pattern="\d*" maxlength="7"> <br>

                    <label> CVC </label>
                    <input placeholder="123" maxlength="3" type="text" id="cvc"><br>


                    <label> Date for Booking </label>
                    <input type="date" id="date"><br>
                    <label for="skill_level" id="skill_level_text">SKill level: </label>
                    <select name="skill_level" id="skill_level">
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Advanced">Advanced</option>
                    </select>
                    <br><br>
                    <input type="submit" value="Submit" id="submit_button">
                    <br>
                    <input type="submit" value="Clear All" id="clear_all">
                    </form>
                </div>
        </section>
    </section>
    <br>

    <section id="error_section">
        <div id="error_text">
            error text placeholder
        </div>
    </section>

    <br>

    <footer>
        <br>
        <a href="https://ko-fi.com/agent421" target="_blank">
            <img src="../images/kofi.webp" class="bottom-images" alt="Support Me On Ko-Fi">
        </a>

        <a href="https://github.com/Agent421" target="_blank">
            <img src="../images/GitHub.webp" class="bottom-images" alt="GitHub">
        </a>

        <a href="https://www.linkedin.com/in/emmanuelk421" target="_blank">
            <img src="../images/LinkedIn.webp" class="bottom-images" alt="LinkedIn">
        </a>
    </footer>

    <script src="../javascripts/booking.js"></script>
</body>

</html>