<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="../images/Nexus_Logo.webp">
</head>

<body>
    <section id="welcome" class="section-borders">
        <img src="../images/Nexus_Logo.webp" id="banner-logo">
        <h1 id="workshop"> Coding Lessons Workshop</h1>
        <nav>
            <a href="index.html" id="selected"> Home </a>
            <a href="booking.html"> Bookings </a>
            <a href="viewBookings.html"> View Bookings </a>
            <a href="about.html"> About </a>
            <a href="help.html"> Help </a>
        </nav>
    </section>

    <section id="get_started">
        <div id="langs">

            <br>
            <ul id="lang-ul">
                <br>
                <li class="lang-li">
                    <img src="../images/html.png" class="lang-imgs">
                    <h3 class="lang-text"> HTML (Hypertext Markup Language) is a markup language used for creating the
                        structure and content of web pages. </h3>
                </li>
                <br>

                <li class="lang-li">
                    <img src="../images/css3.png" class="lang-imgs">
                    <h3 class="lang-text"> CSS (Cascading Style Sheets) is a style sheet language used to define the
                        presentation and layout of web pages.
                    </h3>
                </li>
                <br>

                <li class="lang-li">
                    <img src="../images/javascript.png" class="lang-imgs">
                    <h3 class="lang-text"> JavaScript is a programming language that enables interactive and dynamic
                        behavior in web pages.
                    </h3>
                </li>
                <br>

                <li class="lang-li">
                    <img src="../images/python.jpg" class="lang-imgs">
                    <h3 class="lang-text">
                        Python is a high-level, versatile programming language known for its simplicity and readability,
                        suitable for a wide range of applications.
                    </h3>
                </li>
            </ul>
        </div>

        <a href="booking.html" id="get_started_button">
            Get Started
        </a>
        <br>
    </section>

    <footer>
        <br>
        <a href="https://ko-fi.com/agent421" target="_blank">
            <img src="../images/kofi.webp" class="bottom-images" alt="Support Me On Ko-Fi">
        </a>

        <a href="https://github.com/Agent421" target="_blank">
            <img src="../images/GitHub.webp" class="bottom-images" alt="GitHub">
        </a>

        <a href="https://www.linkedin.com/in/emmanuelk421" target="_blank">
            <img src="../images/LinkedIn.webp" class="bottom-images" alt="LinkedIn">
        </a>
    </footer>
</body>

</html>