<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Bookings</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="../images/Nexus_Logo.webp">
</head>

<body>
    <section id="welcome" class="section-borders">
        <a href="index.html">
            <img src="../images/Nexus_Logo.webp" id="banner-logo">
        </a>
        <h1 id="workshop"> Coding Lessons Workshop</h1>
        <nav>
            <a href="index"> Home </a>
            <a href="booking"> Bookings </a>
            <a href="viewBookings" id="selected"> View Bookings </a>
            <a href="about"> About </a>
            <a href="help"> Help </a>
        </nav>
    </section>

    <br>
    <div id="booking_details">
        <table>
            <tr>
                <th colspan="2"><strong class="key"> Person </strong> </th>
            </tr>

            <tr>
                <th> ID: </th>
                <th> Thing </th>
            </tr>
        </table>

        <ul id="ul">
        </ul>
    </div>
    <br>


    <footer>
        <br>
        <a href="https://ko-fi.com/gojodev" target="_blank">
            <img src="../images/kofi.webp" class="bottom-images" alt="Support Me On Ko-Fi">
        </a>

        <a href="https://github.com/gojodev" target="_blank">
            <img src="../images/GitHub.webp" class="bottom-images" alt="GitHub">
        </a>

        <a href="https://www.linkedin.com/in/emmanuelk421" target="_blank">
            <img src="../images/LinkedIn.webp" class="bottom-images" alt="LinkedIn">
        </a>
    </footer>
    <script src="../javascripts/viewBookings.js"></script>
</body>

</html>