* {
  font-size: 1.1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

:root {
  --accent: #007acc;
  --modify: orange;
  --section1: #3e3e42;
  --section2: #2d2d30;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  margin: auto;
}

#banner-logo {
  width: 100px;
  float: left;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.2s;
}

nav {
  text-decoration: none;
  color: black;
  background-color: var(--section2);
  transition: 0.2s;
  display: flex;
  gap: 1em;
  padding: 15px;
  text-align: center;
  border-radius: 20px;
}

nav>a {
  vertical-align: center;
  font-size: 1.6rem;
  color: white;
}

a:hover,
#selected {
  color: var(--accent)
}

#welcome {
  display: flex;
  justify-content: space-between;
  background-color: var(--section1);
  align-items: center;
  padding: 10px;
  background-size: cover;
}

.section-borders {
  border-bottom: 5px solid white;
  transition: 0.2s;
}

.section-borders:hover {
  border-bottom: 5px solid var(--accent);
}

#programming_image {
  width: 100%;
}

#get_started {
  background-image: url("../images/programming_image.jpg");
  height: 700px;
  flex-flow: column;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

#get_started_button {
  opacity: 0.85;
  background-color: white;
  padding: 12.5px;
  width: 250px;
  border-radius: 5px;
  transition: 0.2s;
  text-align: center;
  transition: 0.2s;
}

#get_started_button:hover {
  opacity: 1;
  color: var(--accent);
  background-color: white;
  transform: scale(1.05);
}

.booking_content {
  text-align: center;
  margin: auto;
  border: 5px solid white;
  background-color: var(--section1);
  align-items: center;
  display: flex;
  justify-content: center;
  width: 35vw;
  height: 100%;
  padding: 15px;
  border-radius: 20px;
}

input {
  display: block;
  font-size: 1.1rem;
  padding: 5px;
  color: var(--accent);
  text-align: center;
  width: 300px;
  transition: 0.2s;
}

input:hover {
  background-color: var(--section1);
}

::placeholder {
  color: var(--accent);
  text-align: center;
  opacity: 0.9;
}


#submit_button {
  color: white;
  background-color: var(--accent);
  transition: 0.2s;
}

#submit_button:hover {
  color: var(--accent);
  background: white;
  border-radius: 10px;
}

.modify_button {
  width: 100%;
  color: white;
  background-color: var(--modify);
  transition: 0.2s;
}

.modify_button:hover {
  color: var(--modify);
  background: white;
  border-radius: 10px;
}

#clear_all {
  color: white;
  background-color: red;
  transition: 0.2s;
}

#clear_all:hover {
  background-color: white;
  color: red;
  border-radius: 10px;
}

#submit_button,
#clear_all {
  width: 100%;
  cursor: pointer;
}

#skillLevel_text {
  color: white;
}

.booking_title {
  color: var(--accent);
  text-align: center;
}

.modify-colour {
  color: var(--modify);
}

.modify-border {
  border: 5px solid var(--modify);
}

#booking_container {
  display: flex;
  justify-content: center;
}

#create_section {
  margin: auto;
  width: 90%;
}

.details {
  color: white;
  background-color: var(--accent);
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
}

.hide {
  opacity: 0;
}

/*  shows how many bookings are allowed to the user */
ul {
  color: white;
}

#error_section {
  margin: auto;
  color: white;
  background: red;
  padding: 15px;
  width: 50%;
  display: block;
  text-align: center;
  margin: auto;
  border-radius: 5px;
}

.error_borders {
  border: 5px solid red;
}

.modify_borders {
  border: 5px solid var(--modify);
}

.dup_borders {
  border: 5px solid white;
}

#workshop {
  color: white;
  text-align: center;
  font-size: 1.4rem;
  text-align: center;
}

#id {
  margin: auto;
  vertical-align: middle;
}

.lang-imgs {
  width: 150px;
  float: left;
}

#langs {
  display: flex;
  flex: 1;
}

.lang-text {
  margin: 20px;
  float: right;
  background-color: white;
  color: var(--accent);
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  width: 80%;
  transform: 0.2s;
  opacity: 0.8;
}

.lang-text:hover {
  opacity: 0.9;
}

/* needed to hdie the bullet points  */
#lang-ul {
  list-style-type: none;
}

.lang-li {
  display: flex;
  flex: 1;
}

.bottom-images {
  height: auto;
  width: 100px;
  transition: 0.2s;
}

.bottom-images:hover {
  transform: scale(1.2);
}

footer {
  border-top: 5px solid white;
  text-align: center;
  background-color: #252526;
  padding: 10px;
}

#notice {
  width: 50%;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin: auto;
  transition: 0.2s;
  animation-name: flashingAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transition: 0.2s;
}

@keyframes flashingAnimation {
  0% {
    color: white;
    background: var(--accent);
  }

  50% {
    color: var(--accent);
    background: white;
  }

  100% {
    color: white;
    background: var(--accent);
  }
}

label {
  display: inline;
  color: white;
}

.red {
  color: red;
}

.hide_input {
  display: none;
}

table,
th,
td {
  border: 1px solid white;
  margin: auto;
  padding: 10px;
}

table {
  width: 95%;
}

#booking_details {
  border: 5px solid white;
  padding: 5px;
  background: black;
  color: white;
  margin: auto;
  text-align: center;
}

.key {
  color: var(--accent);
}

#booking_buttons_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
}

.booking_buttons {
  color: white;
  width: 150px;
  padding: 15px;
  display: inline;
  text-align: center;
  border-radius: 5px;
  margin: auto;
  transition: 0.2s;
  cursor: pointer;
}

.deleteAll {
  background-color: red;
}

.deleteAll:hover,
.deleteAll_selected {
  color: red;
  background-color: white;
}

.modify {
  color: white;
  background-color: var(--modify);
}

.modify:hover,
.modify_selected {
  color: var(--modify);
  background-color: white;
}

.deleteSome {
  color: white;
  background-color: var(--accent);
}

.deleteSome:hover,
.deleteSome_selected {
  color: var(--accent);
  background-color: white;
}

#learn {
  color: white;
  background-color: var(--section1);
  padding: 15px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  transition: 0.2s;
}

#learn:hover {
  background-color: var(--section2);
}

.tr-hover {
  opacity: 0.8;
  transition: 0.2s;
}

.tr-hover:hover {
  background-color: var(--section1);
  opacity: 1;
  transform: scale(1.05);
}

.modify {
  color: white;
  background-color: var(--modify);
  transition: 0.2s;
}

.modify:hover,
.modify_active {
  color: var(--modify);
  background: white;
  border-radius: 10px;
}

.sync,
.sync_pulse {
  color: white;
  background-color: var(--section2);
  transition: 0.2s;
}

.sync:hover,
.modify:hover,
.deleteSome:hover,
.deleteAll:hover {
  transform: scale(1.05);
}

.sync_pulse {
  animation-name: syncPulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transition: 0.2s;
}

@keyframes syncPulse {
  0% {
    color: white;
    background-color: var(--section2);
  }

  50% {
    color: var(--section2);
    background-color: white;
  }

  100% {
    color: white;
    background-color: var(--section2);
  }
}

.sync:hover,
.sync_active {
  color: var(--section2);
  background: white;
  border-radius: 10px;
}

.deleteSome {
  color: white;
  background-color: var(--accent);
  transition: 0.2s;
}

.deleteSome:hover,
.deleteSome_active {
  background-color: white;
  color: var(--accent);
  border-radius: 10px;
}

.deleteAll {
  color: white;
  background-color: red;
  transition: 0.2s;
}

.deleteAll:hover,
.deleteAll_active {
  background-color: white;
  color: red;
  border-radius: 10px;
}

#about_gojodev_containter,
#about_desc {
  margin: auto;
  color: white;
}

#about_gojodev_containter {
  float: left;
  align-items: flex-start;
  width: 15%;
}

#about_desc {
  float: right;
  width: 85%;
}

#about_gojodev {
  width: 150px;
}

#caopoints_text {
  color: black;
}

#caopoints_text:hover {
  text-decoration: underline;
}

#searchbar {
  width: 350px;
  padding: 15px;
  border-radius: 20px;
}

#searchbar:hover {
  color: red;
}

.searchbar_selected {
  border: 5px solid red;
}

.search_selected {
  color: black;
  background: white;
}

#help_main {
  display: flex;
  align-items: center;
  transition: 0.2s;
  margin: auto;
  gap: 150px;
}

.icon_box {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: white;
  padding: 50px;
  width: 15vw;
  border-radius: 20px;
  transition: 0.2s;
  cursor: pointer;
}

.icon_box:hover {
  color: white;
  background-color: orange;
}

.bubble {
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  background-color: orange;
}